* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    /* background: #080808; */
    color: #fff;
    background-image: url('backgrd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(hjg);
    background-size: cover;
    background-position: center;
}
html{
    scroll-behavior: smooth;
}
.container {
    padding: 10px 10%;
}

.container h1 {
    color: aqua;
}
.container span {
    color: rgb(191, 0, 255);
}
.domainName{
    /* display: inline-block; */
       margin-top: -1500px; 
}
.header-text img {
    margin-left: 800px;
    margin-top: -190px; 
    border-radius: 15px; 
    width: 450px;
    height: 600px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 20px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 50px;
}

.header-text h1 span {
    color: purple;
}

#about {
    padding: 80px o;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 100%;
    color: #fff
}

.about-col-2 p {
    margin-top: 25px;
    color: #fff
}

.about-col-2 p:hover {
    background-color: rgba(244, 240, 240, 0.276);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    transform: translateY(-10px);
}

/* -----------------------skills/experience/education-------------- */
.tabtitles {
    display: flex;
    margin: 20px 0 40px;
}

.tablinks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after {
    content: '';
    width: 0;
    height: 3px;
    background: purple;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.activelink::after {
    width: 100%;
}

.tabcontents ul li {
    list-style: none;
    margin: 10px 0;
}

.tabcontents ul li span {
    color: burlywood;
    font-size: 20px;
    font-weight: bold;
}

.tabcontents {
    display: none
}

.tabcontents.activetab {
    display: block;
    background-color: rgba(244, 240, 240, 0.276);
    padding: 40px;
    border-radius: 10px;
    transform: translateY(-10px);
}

/* -----------icon-------------- */
.tabcontents i {
    color: whitesmoke;
    font-size: 35px;
}

/* ---------------PROJECTS-------------- */
#portfolio {
    padding: 40px 0;

}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.projects .project1 .h2 {
    margin-top: 40px;
    font-style: italic;
}

.projects .project2 .h2 {
    margin-top: 40px;
    font-style: italic;
}

.projects p {
    /* background-color: #262626; */
    color: white;
    font-weight: 15px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.projects img {
    margin-top: 10px;
    width: 510px;
    height: 250px;
    transition: transform 0.5s;
}

.projects p:hover {
    background-color: rgba(244, 240, 240, 0.276);
    transform: translateY(-15px);
}

.projects img:hover {
    transform: translateY(-10px);
}

/* <----------------------------CONTACTS--------------------------------------------------> */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contactTabs {
    margin-left: 150px;
    display: flex;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #c44dd8;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #c44dd8;
    transform: translateY(-5px);
}

.btn {
    margin-top: 30px;
    display: inline-block;
    padding: 14px 30px;
    background: black;
    color: #00f7ff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    animation: glow 1.5s infinite alternate;
    margin-left: 40px;
    cursor: pointer;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #ea00ff;
    }

    100% {
        box-shadow: 0 0 25px #ea00ff, 0 0 50px #ea00ff;
    }
}

.contact-right form {
    width: 100%;
}

form input,form textarea {
    width: 85%;
    border: 0;
    outline: none;
    background: rgba(245, 245, 245, 0.661);
    padding: 15px;
    color: black;
    font-size: 15px;
    margin: 15px 0;
    margin-left: 40px;
    border-radius: 10px;
}
form ::placeholder{
    color: blueviolet;
}