.header-text {
    display: flex;
    justify-content: space-between; /* text left, image right */
    align-items: center;
    gap: 50px;
}

.text {
    max-width: 500px;
}

.logo {
    width: 320px;
    height: auto;
    border-radius: 15px;
}
